/**{*/
    /*margin:0;*/
    /*padding:0;*/
/*}*/
body{
    padding-top:84px;
    background-color: lightgrey !important;
}
a, h1,h2,h3,h4,h5,h6,p{
    font-family: 'Open Sans', sans-serif;
}
body h4
{
    font-weight: bold;
    line-height: 0.5;
    margin-bottom:20px;
    padding-top: 10px;
}
.heading-border
{
    background-color: #07609f;
    font-size: 2px;
    padding: 0 35px;
}
.navbar-light .navbar-nav .active>.nav-link, .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .nav-link.show, .navbar-light .navbar-nav .show>.nav-link{
    color:#07609f!important;
}

.navbar{
    padding: 0 1rem !important;
}
.container-fluid{
    padding:0 10px;
}
.nav-item{
    padding: 0px 5px;
}
.nav-item a{
    font-weight: bold;
}
.align_justify{
    text-align: justify;
}
.align_center{
    text-align: center;
}

.main-footer
{
    padding: 30px 10px;
    background-color: #666;
    color:#fff;
    /*position: absolute;*/
}

.main-footer .house_img{
    text-align: center;
    /*position: relative;*/
    /*bottom: 88px;*/
}
.main-footer .house_img img{
    width:20%;
    margin:-20px 10px;
}
.copyright_section{
    background-color: #444;
    padding: 18px 10px;
}

.copyright_section .align_center{
    text-align: center;
    color:#fff;
}
