a{
    color: #14adc4!important;
}
a:hover {
    color: red!important;
}

.all_category a {
    font-weight: 600;
    padding: 0 8px;
}
.all_category {
    background: #fff;
    padding: 7px;
    margin-bottom: 15px;
    margin-top: -15px;
}
.all_category a{
    color: #000;
}
.a_li_d{
    padding: 10px 20px;
}
h2.a_li_d_p{
    font-size: 24px;
    margin-bottom: 1px;
    line-height: 1;
}
.a_li_d li {
    list-style: none;
}
.col-2.l_a_lo img {
    min-width: 100%;
    border: 1px solid #ddd;
    padding: 5px;
}
.col-10.l_a_c_l {
    margin-left: -43px;
}
@media (max-width: 768px){
    h2.a_li_d_p{
        font-size: 12px;
        margin-bottom: 1px;
        line-height: 1;
    }
    .a_li_d {
        padding: 10px;
    }
    .a_li_d a{
        font-size: 10px;
        line-height: 1;
    }
    .a_li_d li {
        line-height: 0.9;
    }
    .col-10.l_a_c_l {
        padding: 0;
        margin-left: -10px;
    }
    .col-2.l_a_lo {
        padding: 0 0 0 10px;
    }
}