body{
    font-family: Montserrat,Arial,sans-serif;
    font-size: .9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #292b2c;
    background-color: #f5f5f6;
}
h1, h2, h3, h4, h5, h6{
    margin-bottom: .5rem;
    font-family: inherit;
    font-weight: bold;
    line-height: 1.1;
    color: inherit;
}

.main-header-area .classy-nav-container .classy-menu .classynav .active{
    color:red;
    font-weight: bold;
}
.main-header-area .classy-nav-container .classy-menu .classynav li:hover a{
    color:red;
    font-weight: bold;
}
.search_container_banner{
    position: relative;
    margin-bottom:20px;
    padding:0 5px 5px 5px ;
    background-color: #fff;
    border-bottom:1px solid #dddee0;
    border-left:1px solid #dddee0;
    border-right:1px solid #dddee0;
}
.search_container_banner .search_section{
    position: absolute;
    top: 110px;
    left: 190px;
    width: 70%;
    margin: 0 auto;
    background-color: #2b2d2d54;
    padding: 25px 10px 0 50px;
    color:#fff;
    border-radius:5px;
}
.top_jobs_heading, .featured_jobs_heading, .general_jobs_heading,.top_employer_heading, .jobs_by_category, .jobs_by_location, .search_jobs_heading {
    padding:10px;
    /*background-color: #fff;*/
    margin:0;
    border-bottom:1px solid #dddee0;
    background: #feffff; /* Old browsers */
    background: -moz-linear-gradient(top, #feffff 0%, #ddf1f9 99%, #a0d8ef 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #feffff 0%,#ddf1f9 99%,#a0d8ef 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #feffff 0%,#ddf1f9 99%,#a0d8ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 );

}
.form-control-select-list {
    background-color: transparent;
    width: 100%;
    height: 38px;
    border-radius: 0;
    font-size: 14px;
    color: #000000;
    margin-bottom: 30px;
    font-weight: 500;
    padding: 0 15px;
    border: 1px solid #e1dddd;
}
a:hover{
    color:red;
}

.top_jobs, .featured_jobs, .general_jobs,.top_employer, .jobs_category, .jobs_location, .search_jobs{
    margin-bottom:20px;
    border:1px solid #dddee0;
}
.other_pages .search_jobs .job_details{
    margin-bottom:15px !important;
}

.job_details{
    background-color: #fff;
    padding:5px;
    border:1px solid #dddee0;
    margin-bottom: 5px;
    height: 73px;
    overflow: hidden;
}
.job_details_more:hover{
    height: auto;
    /* overflow: scroll; */
    position: absolute;
    z-index: 1111;
    width: 90.5%;
    -webkit-box-shadow: 1px 1px 10px 2px #C2C2C2;
    box-shadow: 1px 1px 10px 2px #C2C2C2;
}
#dropdown-more{
    height: auto;
    /* overflow: scroll; */
    position: absolute;
    z-index: 1111;
    width: 90.5%;
    padding-left: 42px;
    /* float: right; */
    padding-top: 5px;

}
.job_details_more:hover #dropdown-more{
    display: none;
}

.job_details_more #dropdown-less{
    padding-left: 74px;
    /* float: right; */
    padding-top: 5px;
}
.job_details .no-margin img{
    height: 63px;
    width: 68px;
    /* padding: 3px; */
    border: 1px solid lightgray;
}
.row.jobs_details_card {
    padding: 5px;
}
.row.jobs_details_card a{
    color:#000;
    font-weight: normal;
    font-size: 12px;
}
.row.jobs_details_card a:hover{
    color:red;
}
.row.jobs_details_card .company_heading{
    font-weight: bold;
    font-size: 13px;
}
.job-card{
    margin-left: -20px;
    padding-right: 0;
}
    .view_more_extra {
    background-color:#116982;
    padding:5px;
    text-align: center;
}
.view_more_extra a{
    color:#fff;
}
.view_more_extra a:hover{
    color:deepskyblue;
}
.view_more_small{
    padding: 3px;
    background-color: lightseagreen;
    color: #fff !important;
    text-align: center;
    border-radius: 3px;
}
.view_more_small a{
    color: #fff !important;
    font-size: 10px;
}
.top-ads{
    width: 100%;
    /*height: 96px;*/
    /*overflow: hidden;*/
    margin-bottom: 20px;
    padding: 5px;
    background-color: #fff;
    border: 1px solid #dddee0;
}

.top_employer .employer_image{
    width: 100%;
    height: 95px;
    overflow: hidden;
}
.top_employer .employer_image img{
    width: 100%;
}
.top_employer .employer_content, .jobs_category_card, .jobs_location_card{
    padding:5px;
    background-color: #fff;
}
.top_employer .employer_content a{
    color:#4c4b4b;
    font-weight: bolder;
}
.jobs_category_card a, .jobs_location_card a{
    color:#4c4b4b;
    font-weight: normal;
    font-size: 12px;
}
.top_employer .employer_content .employer_content_details a{
    font-weight: normal;
    font-size: 12px;
}
.top_employer .employer_content .employer_content_details a:hover{
    color:red;
}
.top_employer .employer_details_card{
    margin-bottom: 10px;
    border-bottom: 1px solid #dddee0;
}
.logo_section img{
    width: 95px;
    height: 85px;
    padding:3px;
    background-color: #fff;
    border: 1px solid #dddee0;
}
.employer_content{
    background-color: #f5f5f6;
    padding: 5px;
    border: 1px solid lightgray;
}
.employer_content li{
    font-weight: bolder;
    font-size: 14px;
}
.logo_section{
    position: absolute;
    top:66%;
}
.other_pages{
    margin:20px 0;
}
.other_pages .related_job_footer li{
    font-weight: normal;
    font-size: 12px;
}
.other_pages .related_job_footer li a{
    font-weight: normal;
    font-size: 12px;
    color:#000;
}
.other_pages .search_jobs .job_details .search_job_logo{
    height: 110px;
    min-width: 100%;
}
.other_pages .search_jobs .jobs_details_card {
    padding: 5px 20px;
    background-color: #fff;
}

.other_pages .search_jobs .job-padding {
    padding: 5px 20px;
}

@media only screen and (max-width: 767px) {
    .top-header-area{
        display: none;
    }
    .sajhajob_content_section {
        padding: 70px 15px;
    }

    .is-sticky .main-header-area {
        height: 70px;
    }
    .search_container_banner .search_section{
        display: none;
    }
    .logo_section img{
        width: 55px;
        height: 50px;
    }
    .logo_section{
        top:33%;
    }
    .job_details_more:hover, #dropdown-more{
        position: static;
        width: 100%;
    }

    .other_pages .search_jobs .job_details .search_job_logo{
        height: auto;
        min-width: 100%;
    }


    .candidate_registration .employer_float_right{
        float: right;
        background-color: #116982;
        margin: 0;
        padding: 3px;
        /*margin-top: -4px;*/
        color: #edf8fc;
        border-radius: 2px;
        font-size: 11px;
        font-weight: normal;

    }


}
