.top_job{
    background-color: #fff;
    border: 1px solid #dddee0;
}
.job-body-card {
    padding: 0 15px;
}

.job-card-header{
    border-bottom: 1px solid #dddee0;
    padding: 10px 10px 0 10px;
}
.job-card-header .job-title{
    font-weight: normal;
}
.job-card-block{
    margin-top:-1px;
    border-bottom: 1px solid lightgray;
    margin-bottom: 20px;
}
.col-12.job-card-footer {
    padding: 0 20px 20px 30px;
}
.job-card-block .card-group ul li{
    list-style: circle;
}
.job-card-block .card-group ul{
    padding-left:20px;
}

 .job-card-block .table th{
    border-bottom:1px solid #dddee0;
}
.job-card-block .table td{
    border:none !important;
    padding:3px 15px;
}
.job_apply_heading{
    padding:10px;
    /*background-color: #fff;*/
    margin:0;
    border-bottom:1px solid #dddee0;
    background: #feffff; /* Old browsers */
    background: -moz-linear-gradient(top, #feffff 0%, #ddf1f9 99%, #a0d8ef 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #feffff 0%,#ddf1f9 99%,#a0d8ef 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #feffff 0%,#ddf1f9 99%,#a0d8ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 );

}

.job_apply{
    margin-bottom:20px;
    border:1px solid #dddee0;
}
.job_apply .job_apply_content {
    padding: 10px;
    background-color: #fff;
}
.job_apply .job_apply_content button, .job_apply .job_apply_content a{
    margin:5px 0;
    width:100%;
}
.job_apply .job_apply_content .apply_log_in{
    text-align: center;
}
a.company_heading {
    font-weight: bold;
    /*font-size: 13px;*/
    color:#676565;
}
.job_apply .job_details li a{
    color:#676565;
}
.related_job_footer{
    padding:3px;
    border:1px solid #dddee0;
    background: #feffff; /* Old browsers */
    background: -moz-linear-gradient(top, #feffff 0%, #ddf1f9 99%, #a0d8ef 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #feffff 0%,#ddf1f9 99%,#a0d8ef 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #feffff 0%,#ddf1f9 99%,#a0d8ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 );

}
