.candidate_registration {
    /*padding: 20px;*/
    background-color: #fff;
    margin-top: 20px;
    border: 1px solid #dddee0;
}

.candidate_registration .candidate_heading{
    padding:10px;
    /*background-color: #fff;*/
    margin:0;
    border-bottom:1px solid #dddee0;
    background: #feffff; /* Old browsers */
    background: -moz-linear-gradient(top, #feffff 0%, #ddf1f9 99%, #a0d8ef 100%); /* FF3.6-15 */
    background: -webkit-linear-gradient(top, #feffff 0%,#ddf1f9 99%,#a0d8ef 100%); /* Chrome10-25,Safari5.1-6 */
    background: linear-gradient(to bottom, #feffff 0%,#ddf1f9 99%,#a0d8ef 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#feffff', endColorstr='#a0d8ef',GradientType=0 );

}
.candidate_registration .employer_float_right{
    float: right;
    background-color: #116982;
    margin: 0;
    padding: 6px;
    margin-top: -4px;
    color: #edf8fc;
    border-radius: 3px;

}
.candidate_registration_form {
    padding: 20px;
}
button.full-botton {
    border: 1px solid #dddee0;
    width: 100%;
    padding: 10px 70px;
    color: #fff;
    background: #082933;
}
/*------------------------------- Candidate Dashboard ------------------------------- */
.row.candidate_panel {
    margin-top: 20px;
    margin-bottom: 20px;
    /*background-color: #fff;*/
    /*padding: 10px;*/
    /*border: 1px solid lightgray;*/
}
.row.candidate_panel .candidate-sidebar{
    /*margin: 20px 0;*/
    background-color: #fff;
    padding: 5px;
    border: 1px solid lightgray;
    margin-bottom:20px;
}

.row.candidate_panel .candidate-sidebar .candidate_nav_head .nav_title{
    padding: 10px;
    background-color: #116982;
    border-bottom: 2px solid lightgray;
}
.row.candidate_panel .candidate-sidebar .candidate_nav_head a{
    color: #fff;
}

.row.candidate_panel .candidate-sidebar .candidate_nav_head a:hover{
    color: #8a8c07;
}
.row.candidate_panel .candidate-sidebar .candidate_nav_head a:hover .nav_title{
    background-color:#fff;
}

.row.candidate_panel .candidate-sidebar .candidate_nav_head .active{
    background-color:#fff;
    color: #8a8c07;

}

.row.candidate_panel .candidate-profile{
    /*margin: 20px 0;*/
    background-color: #fff;
    padding: 10px;
    border: 1px solid lightgray;
    margin-bottom:20px;
}
/*------------------------------- Candidate Dashboard ------------------------------- */
